*{
  margin: 0;
  padding: 0;
}
#bannar{
margin: 50px 140px;
}
.container{
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #0a021a 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner\ Image.png');
 }
 .section-heading{
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 170px 340px;
 }
 .section-heading h3{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .section-heading h2{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
 }
 .holiday-deals-container{
  width: 1600px;
  height: 7335px;
  background: #FFF;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
 }
 .holiday-deals-text h2{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }
 .holiday-deals-text h4{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 .holiday-deals-text h3{
  color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }
 .midnight-party-container{
  width: 1600px;
  height: 7335px;
  background: #FFF;
 }